<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>GIS Consulting - 4pp - WebMap</title>
    <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css" />
    <style>     
      html,
      body {
        padding: 0;
        margin: 0;
        height: 100%;
      }
      
      .esri-editor .esri-item-list__scroller {
        max-height: 350px;
      }

      #snapping {
        padding: 10px;
      }

      #snappingctrlkey {
        display: inline;
      }

      .arcgisSearch .searchGroup .searchInput {
        width: 15.625rem;
      }
      
      .label {
        color: black;
      }
      
      #measurementDiv {
        background: #fff;
        padding: 10px;
      }
      
      .action-button {
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #d3d3d3;
        color: #6e6e6e;
        height: 32px;
        width: 32px;
        text-align: center;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      }

      .action-button:hover,
      .action-button:focus {
        background: #0079c1;
        color: #e4e4e4;
      }

      .active {
        background: #0079c1;
        color: #e4e4e4;
      }
      
      #headerDiv {
        display: block;
        position: absolute;
        margin-left: 56px;
        top: 0px;
        left: 0px;
        padding: 0px;
        background-color: #0092BC; /*#014782;*/
        color: white;
        text-align: left;
        width: 340px;
        overflow: hidden;
      }
      
      .headerTextDiv {
        font-family: Arial;
        position: absolute;
        top: 6px;
        right: 12px;
        color: white;
        padding: 0px;
        margin-bottom: 0px;
      }
      
    </style>
    <script src="https://js.arcgis.com/4.19/"></script>
    <script>
      require(["esri/config", "esri/Map", "esri/views/MapView", "esri/views/SceneView", 
               "esri/widgets/Expand", "esri/widgets/BasemapGallery", "esri/Basemap", 
               "esri/widgets/ScaleBar", "esri/widgets/Search", "esri/views/navigation/Navigation", 
               "esri/tasks/Geoprocessor", "esri/widgets/Legend", "esri/layers/support/ImageParameters", 
               "esri/layers/FeatureLayer", "esri/widgets/Editor", "esri/layers/MapImageLayer", 
               "esri/layers/ImageryLayer", "esri/geometry/Extent", "esri/widgets/Measurement", 
               "esri/widgets/Bookmarks", "esri/widgets/Sketch", "esri/layers/GraphicsLayer", 
               "esri/layers/TileLayer", "esri/widgets/LayerList", "esri/widgets/Swipe", 
               "esri/widgets/Home", "esri/widgets/Print", 
               "esri/widgets/CoordinateConversion", "esri/widgets/CoordinateConversion/support/Format", 
               "esri/widgets/CoordinateConversion/support/Conversion", "esri/geometry/Point", 
               "esri/geometry/support/webMercatorUtils", "esri/geometry/SpatialReference",
               "esri/Graphic"
              ], function(esriConfig, Map, MapView, SceneView, 
                           Expand, BasemapGallery, Basemap, 
                           ScaleBar, Search, Navigation, 
                           Geoprocessor, Legend, ImageParameters, 
                           FeatureLayer, Editor, MapImageLayer, 
                           ImageryLayer, Extent, Measurement, 
                           Bookmarks, Sketch, GraphicsLayer, 
                           TileLayer, LayerList, Swipe, 
                           Home, Print, 
                           CoordinateConversion, Format, 
                           Conversion, Point, 
                           webMercatorUtils, SpatialReference, 
                           Graphic) {
        
        esriConfig.apiKey = "AAPK37559f802e114a1e921221a6347fea45w5TjdNKw96kCdxkO_s-BmuThJRM2pOJXSm3jApBx1sa2ZLod6Yr3QtvAU3Z6adcb";
        
        const mosaico2015 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2015/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: true,
          title: "Imagens Rio 2015"
        });

        const mosaico2016 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2016/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2016"
        });

        const mosaico2017 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2017/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2017"
        });

        const mosaico2018 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2018/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2018"
        });

        const mosaico2019 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2019/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: true,
          title: "Imagens Rio 2019"
        });
        
        // Create the Map with an initial basemap
        var map = new Map({
          basemap: "gray-vector",
          ground: "world-elevation"
        });
        map.add(mosaico2015);
        map.add(mosaico2016);
        map.add(mosaico2017);
        map.add(mosaico2018);
        map.add(mosaico2019);
        
        // Add sketch widget
        const graphicsLayerSketch = new GraphicsLayer();
        graphicsLayerSketch.title = "Desenho / Rascunho";
        graphicsLayerSketch.visible = false;
        map.add(graphicsLayerSketch);
        
        var initialViewParams = {
          map: map,
          sceneContainer: "sceneViewDiv",
          mapContainer: "mapViewDiv",
          container: null,
          qualityProfile: "low",
          // Clip the view to the extent covered by
          // by SIRGAS 2000
          clippingArea: {
            xmin: -73.99,
            xmax: -28.84,
            ymax: 5.27,
            ymin: -33.75
          },
          center: [-43.32, -22.92],
          zoom: 12,
          navigation: {
            padding: {top: 100, left: 100, right: 0, bottom: 0}
          },
          viewingMode: "local"
        };
        initialViewParams.container = initialViewParams.sceneContainer;
        
        const sceneView = new SceneView({
          map: initialViewParams.map,
          container: initialViewParams.sceneContainer,
          qualityProfile: initialViewParams.qualityProfile,
          clippingArea: initialViewParams.clippingArea,
          center: initialViewParams.center,
          zoom: initialViewParams.zoom,
          navigation: initialViewParams.navigation
        });
        var mapSync = new Map({
          basemap: map.basemap
        });
        const mapView = new MapView({
          map: mapSync,
          container: initialViewParams.mapContainer,
          qualityProfile: initialViewParams.qualityProfile,
          center: initialViewParams.center,
          zoom: initialViewParams.zoom,
          navigation: initialViewParams.navigation,
          constraints: {
            // Disable zoom snapping to get the best synchronization
            snapToZoom: false
          }
        });
        mapView.ui.remove(["zoom"]);
        const views = [sceneView, mapView];
        
        var appConfig = {
          sceneView: sceneView,
          mapView: mapView,
          activeView: sceneView //,
          //container: initialViewParams.container
        };
        
        let activeView;
        const sync = (source) => {
          if (!activeView || !activeView.viewpoint || activeView !== source) {
            return;
          }

          for (const view of views) {
            if (view !== activeView) {
              view.viewpoint = activeView.viewpoint;
            }
          }
          syncMapViewFootPrint();
        };

        for (const view of views) {
          view.watch(["interacting", "animation"], () => {
            activeView = view;
            sync(activeView);
          });

          view.watch("viewpoint", () => sync(view));
        }
        
        // BEGIN coordinate code
        sceneView.when(function(sceneView) {
          sceneView.goTo({ tilt: 45 })
          .catch(function(error){
            if (error.name != "AbortError"){
              console.error(error);
            }
          });
        });

        var ccWidget = new CoordinateConversion({
          view: sceneView
        });

        sceneView.ui.add(ccWidget, "top-right");

        // Regular expression to find a number
        var numberSearchPattern = /-?\d+[\.]?\d*/;

        /**
         * Create a new Format called XYZ, which looks like: "<Latitude>, <Longitude>, <Z>"
         *
         * We need to define a convert function, a reverse convert function,
         * and some formatting information.
         */
        var newFormat = new Format({
          // The format's name should be unique with respect to other formats used by the widget
          name: "XYZ",
          conversionInfo: {
            // Define a convert function
            // Point -> Position
            convert: function(point) {
              var returnPoint = point.spatialReference.isWGS84
                ? point
                : webMercatorUtils.webMercatorToGeographic(point);
              var x = returnPoint.x.toFixed(4);
              var y = returnPoint.y.toFixed(4);
              var z = returnPoint.z.toFixed(4);
              return {
                location: returnPoint,
                coordinate: `${x}, ${y}, ${z}`
              };
            },
            // Define a reverse convert function
            // String -> Point
            reverseConvert: function(string) {
              var parts = string.split(",");
              return new Point({
                x: parseFloat(parts[0]),
                y: parseFloat(parts[1]),
                z: parseFloat(parts[2]),
                spatialReference: { wkid: 4326 }
              });
            }
          },
          // Define each segment of the coordinate
          coordinateSegments: [
            {
              alias: "X",
              description: "Longitude",
              searchPattern: numberSearchPattern
            },
            {
              alias: "Y",
              description: "Latitude",
              searchPattern: numberSearchPattern
            },
            {
              alias: "Z",
              description: "Elevation",
              searchPattern: numberSearchPattern
            }
          ],
          defaultPattern: "X°, Y°, Z"
        });

        // add our new format to the widget's dropdown
        ccWidget.formats.add(newFormat);

        /**
         * Create a new Format 'SPS I', which looks like: "<X>, <Y>" in the
         * California StatePlane Zone I Spatial Reference, described by wkid 102241
         *
         * For this Format, we only need to provide a spatialReference with the correct
         * wkid. The geometry service can take care of the rest.
         */
        var stateplaneCA = new Format({
          name: "SPS I",
          conversionInfo: {
            spatialReference: new SpatialReference({ wkid: 102241 }),
            reverseConvert: function(string, format) {
              var parts = string.split(",");
              return new Point({
                x: parseFloat(parts[0]),
                y: parseFloat(parts[1]),
                spatialReference: { wkid: 102241 }
              });
            }
          },
          coordinateSegments: [
            {
              alias: "X",
              description: "easting",
              searchPattern: numberSearchPattern
            },
            {
              alias: "Y",
              description: "northing",
              searchPattern: numberSearchPattern
            }
          ],
          defaultPattern: "X, Y"
        });

        // Add our new format to the widget's dropdown
        ccWidget.formats.add(stateplaneCA);

        // Add the two custom formats to the top of the widget's display
        ccWidget.conversions.splice(
          0,
          0,
          new Conversion({
            format: newFormat
          }),
          new Conversion({
            format: stateplaneCA
          })
        );
        // END coordinate code
        // Create a Home widget instance
        const home = new Home({
          view: appConfig.sceneView
        });

        // Create a BasemapGallery widget instance and basemapGalleryExpand
        const basemapGallery = new BasemapGallery({
          view: appConfig.sceneView,
          container: document.createElement("div"), 
          source: [Basemap.fromId("gray-vector"), 
                   Basemap.fromId("arcgis-imagery"), 
                   Basemap.fromId("arcgis-imagery-standard"), 
                   Basemap.fromId("arcgis-imagery-labels"), 
                   Basemap.fromId("arcgis-light-gray"), 
                   Basemap.fromId("arcgis-dark-gray"), 
                   Basemap.fromId("arcgis-navigation"), 
                   Basemap.fromId("arcgis-navigation-night"), 
                   Basemap.fromId("arcgis-streets"), 
                   Basemap.fromId("arcgis-streets-night"), 
                   Basemap.fromId("arcgis-streets-relief"), 
                   Basemap.fromId("arcgis-topographic"), 
                   Basemap.fromId("arcgis-oceans"), 
                   Basemap.fromId("osm-standard"), 
                   Basemap.fromId("osm-standard-relief"), 
                   Basemap.fromId("osm-streets"), 
                   Basemap.fromId("osm-streets-relief"), 
                   Basemap.fromId("osm-light-gray"), 
                   Basemap.fromId("osm-dark-gray"), 
                   Basemap.fromId("arcgis-terrain"), 
                   Basemap.fromId("arcgis-community"), 
                   Basemap.fromId("arcgis-charted-territory"), 
                   Basemap.fromId("arcgis-colored-pencil"), 
                   Basemap.fromId("arcgis-nova"), 
                   Basemap.fromId("arcgis-modern-antique"), 
                   Basemap.fromId("arcgis-midcentury"), 
                   Basemap.fromId("arcgis-newspaper"), 
                   Basemap.fromId("arcgis-hillshade-light"), 
                   Basemap.fromId("arcgis-hillshade-dark")]
        });
        const basemapGalleryExpand = new Expand({
          view: appConfig.sceneView,
          content: basemapGallery,
          expandIconClass: "esri-icon-basemap", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Mapa de fundo (Basemap)",
          expanded: false
        });
        // close the expand whenever a basemap is selected
        basemapGallery.watch("activeBasemap", function() {
          basemapGalleryExpand.collapse();
        });

        // create a layerlist and expand 3D widget and add to the view
        const layerList = new LayerList({
          view: appConfig.sceneView,
          container: document.createElement("div")
        });
        const layerListExpand = new Expand({
          view: appConfig.sceneView,
          content: layerList,
          expandIconClass: "esri-icon-collection", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Camadas / Mosaicos",
          expanded: false
        });

        // Add Measurements widget
        // Create new instance of the Measurement widget
        const measurement = new Measurement({
          view: appConfig.activeView
        });
        
        // Set-up event handlers for buttons and click events
        
        const distanceButton = document.getElementById('distance');
        const areaButton = document.getElementById('area');
        const clearButton = document.getElementById('clear');

        distanceButton.addEventListener("click", function(){
          distanceMeasurement();
        });
        areaButton.addEventListener("click", function(){
          areaMeasurement();
        });
        clearButton.addEventListener("click", function(){
          clearMeasurements();
        });
        
        // Call the appropriate DistanceMeasurement2D or DirectLineMeasurement3D
        function distanceMeasurement() {
          const type = appConfig.activeView.type;
          measurement.activeTool = type.toUpperCase() === "2D" ? "distance" : "direct-line";
          distanceButton.classList.add("active");
          areaButton.classList.remove("active");
        }

        // Call the appropriate AreaMeasurement2D or AreaMeasurement3D
        function areaMeasurement() {
          measurement.activeTool = "area";
          distanceButton.classList.remove("active");
          areaButton.classList.add("active");
        }

        // Clears all measurements
        function clearMeasurements() {
          distanceButton.classList.remove("active");
          areaButton.classList.remove("active");
          measurement.clear();
        }
        
        const measurementExpand = new Expand({
          content: document.getElementById("measurementDiv"),
          view: appConfig.activeView,
          expandIconClass: "esri-icon-measure", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Summary stats",
          expanded: false
        });
        
        // create a search and expand widget
        const searchExpand = new Expand({
          content: new Search({
            view: appConfig.sceneView
          }),
          view: appConfig.sceneView,
          expandIconClass: "esri-icon-search", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Localizar",
          expanded: false
        });

        // create a legend and expand widget
        const legendExpand = new Expand({
          content: new Legend({
            view: appConfig.sceneView,
            style: "card" // other styles include 'classic'
          }),
          view: appConfig.sceneView,
          expandIconClass: "esri-icon-legend", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Legenda",
          expanded: false
        });

        // Add the home instance to the ui
        appConfig.sceneView.ui.add(home, "top-right");
        // Add the layerListExpand expand instance to the ui
        appConfig.sceneView.ui.add(layerListExpand, "top-right");
        // Add the basemapGalleryExpand expand instance to the ui
        appConfig.sceneView.ui.add(basemapGalleryExpand, "top-right");
        // Add the measurementExpand expand instance to the ui
        appConfig.sceneView.ui.add(measurementExpand, "top-right");
        // Add the legendExpand instance to the ui
        appConfig.sceneView.ui.add(legendExpand, "top-left");
        // Add the search instance to the ui
        appConfig.sceneView.ui.add(searchExpand, "top-right");
        // Add the Header instance to the ui
        appConfig.sceneView.ui.add("headerDiv", "top-left");
        
        const syncViewExpand = new Expand({
          view: appConfig.sceneView,
          content: document.getElementById("mapViewDiv"),
          expandIconClass: "esri-icon-maps", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Visão simultânea",
          expanded: false
        });
        appConfig.sceneView.ui.add(syncViewExpand, "top-right");
        
        const footPrintLayer = new GraphicsLayer();
        footPrintLayer.visible = false;
        map.add(footPrintLayer);
        const syncMapViewFootPrint = () => {
          footPrintLayer.removeAll();
          
          const extentXMin = mapView.extent.xmin;
          const extentYMin = mapView.extent.ymin;
          const extentXMax = mapView.extent.xmax;
          const extentYMax = mapView.extent.ymax;
          const polygon = {
            type: "polygon", // autocasts as new Polygon()
            rings: [
              [extentXMin, extentYMin, 900],
              [extentXMin, extentYMax, 1000],
              [extentXMax, extentYMax, 1000],
              [extentXMax, extentYMin, 900],
              [extentXMin, extentYMin, 900]
            ],
            spatialReference: { wkid: mapView.extent.spatialReference.wkid }
          };
          const fillSymbol = {
            type: "simple-fill", // autocasts as new SimpleFillSymbol()
            color: [255, 255, 255, 0.12],
            outline: {
              // autocasts as new SimpleLineSymbol()
              color: [227, 139, 79],
              width: 2
            }
          };
          const graphicFootPrint = new Graphic({  // graphic with line geometry
            geometry: polygon, // set geometry here
            symbol: fillSymbol // set symbol here
          });
          footPrintLayer.add(graphicFootPrint);
        };
        
        appConfig.mapView.when(function() {
          const print = new Print({
            view: appConfig.mapView,
            // specify your own print service
            printServiceUrl:
              "https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
          });
          const printExpand = new Expand({
            view: appConfig.mapView,
            content: print,
            expandIconClass: "esri-icon-printer", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
            expandTooltip: "Imprimir",
            expanded: false
          });
          // show print's footprint at sceneView when printExpand
          printExpand.watch("expanded", function() {
            footPrintLayer.visible = syncViewExpand.expanded || printExpand.expanded;
          });
          // show print's footprint at sceneView when printExpand
          syncViewExpand.watch("expanded", function() {
            footPrintLayer.visible = syncViewExpand.expanded || printExpand.expanded;
          });
          // Add widget to the top right corner of the view
          appConfig.sceneView.ui.add(printExpand, "top-right");
        });
        
      });
    </script>
  </head>
  <body>
    <div id="sceneViewDiv" style="padding: 0; margin: 0; height: 100%; width: 100%; overflow: hidden;"></div>
    <div id="mapViewDiv" class="esri-widget" style="height: 350px; width: 350px;"></div>
    <div id="measurementDiv" class="esri-widget">
      <button class="action-button esri-icon-measure-line" id="distance" type="button" title="Measure distance between two points"></button>
      <button class="action-button esri-icon-measure-area" id="area" type="button" title="Measure area"></button>
      <button class="action-button esri-icon-trash" id="clear" type="button" title="Clear"></button>
    </div>
    <div id="headerDiv"><img src="static/images/logo_subsecretaria_executiva.png" alt="Subsecretaria Executiva - Prefeitura Rio" style="height:64px;"><div class="headerTextDiv">
    <h1 style="font-family: Arial; font-size: xx-large;padding: 0px;
        margin-bottom: 0px;margin-top: 0px;">Gestão Fiscal</h1>
    <p style="font-family: Arial; font-size: xx-small;padding: 0px;
        margin-bottom: 0px;margin-top: 0px;">versão 2021.3 (04/06/2021)</p>
  </div></div>
  </body>
</html>