<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>GIS Consulting - 4pp - WebMap</title>

    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.18/"></script>

    <style>     
      html,
      body,
      
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      
      .esri-editor .esri-item-list__scroller {
        max-height: 350px;
      }

      #snapping {
        padding: 10px;
      }

      #snappingctrlkey {
        display: inline;
      }

      .arcgisSearch .searchGroup .searchInput {
        width: 15.625rem;
      }
      
      .label {
        color: black;
      }
      
      #measurementDiv {
        background: #fff;
        padding: 10px;
      }

      .action-button {
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #d3d3d3;
        color: #6e6e6e;
        height: 32px;
        width: 32px;
        text-align: center;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      }

      .action-button:hover,
      .action-button:focus {
        background: #0079c1;
        color: #e4e4e4;
      }

      .active {
        background: #0079c1;
        color: #e4e4e4;
      }
      
      #headerDiv {
        display: block;
        position: absolute;
        margin-left: 56px;
        top: 0px;
        left: 0px;
        padding: 0px;
        background-color: #0092BC; /*#014782;*/
        color: white;
        text-align: left;
        width: 340px;
        overflow: hidden;
      }
      
      .headerTextDiv {
        font-family: Arial;
        position: absolute;
        top: 6px;
        right: 12px;
        color: white;
        padding: 0px;
        margin-bottom: 0px;
      }
      
    </style>

    <script>
      require(["esri/config", "esri/Map", "esri/views/SceneView", 
        "esri/widgets/Expand", "esri/widgets/BasemapGallery", "esri/widgets/ScaleBar", "esri/widgets/Search", "esri/views/navigation/Navigation",
        "esri/tasks/Geoprocessor", "esri/widgets/Legend", "esri/layers/support/ImageParameters",
        "esri/layers/FeatureLayer", "esri/widgets/Editor", "esri/layers/MapImageLayer", "esri/layers/ImageryLayer",
        "esri/geometry/Extent", "esri/widgets/DirectLineMeasurement3D", "esri/widgets/AreaMeasurement3D", "esri/widgets/Bookmarks", "esri/widgets/Sketch",
      "esri/layers/GraphicsLayer",
        "esri/layers/TileLayer",
        "esri/widgets/LayerList",
        "esri/widgets/Swipe", "esri/widgets/Home"
              ], function(esriConfig, Map, SceneView, 
                           Expand, BasemapGallery, ScaleBar, Search, Navigation,
                           Geoprocessor, Legend, ImageParameters, 
                           FeatureLayer, Editor, MapImageLayer, ImageryLayer,
                           Extent, DirectLineMeasurement3D, AreaMeasurement3D, Bookmarks, Sketch, GraphicsLayer, TileLayer, LayerList, Swipe, Home) {
        
        //esriConfig.apiKey = "AAPK37559f802e114a1e921221a6347fea45w5TjdNKw96kCdxkO_s-BmuThJRM2pOJXSm3jApBx1sa2ZLod6Yr3QtvAU3Z6adcb";
        
        const mosaico2015 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2015/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2015"
        });

        const mosaico2016 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2016/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2016"
        });

        const mosaico2017 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2017/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2017"
        });

        const mosaico2018 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2018/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2018"
        });

        const mosaico2019 = new ImageryLayer({
          url: "https://pgeo3.rio.rj.gov.br/arcgis/rest/services/Imagens/Mosaico_2019/ImageServer",
          format: "jpgpng", // server exports in either jpg or png format
          visible: false,
          title: "Imagens Rio 2019"
        });
        
        
        // Create the Map with an initial basemap
        var map = new Map({
          basemap: "gray-vector"
        });
        map.add(mosaico2015);
        map.add(mosaico2016);
        map.add(mosaico2017);
        map.add(mosaico2018);
        map.add(mosaico2019);

        var view = new SceneView({
          map: map,
          container: "viewDiv",
          qualityProfile: "low",
          center: [-43.32, -22.92],
          zoom: 12,
          navigation: {
            padding: {top: 100, left: 100, right: 0, bottom: 0}
          }
        });
        
        // Add sketch widget
        const graphicsLayerSketch = new GraphicsLayer();
        graphicsLayerSketch.title = "Desenho / Rascunho";
        graphicsLayerSketch.visible = false;
        map.add(graphicsLayerSketch);
        
        // Create a Home widget instance
        const home = new Home({
          view: view
        });
        
        // Create a BasemapGallery widget instance and basemapGalleryExpand
        const basemapGallery = new BasemapGallery({
          view: view,
          container: document.createElement("div")
        });
        const basemapGalleryExpand = new Expand({
          view: view,
          content: basemapGallery,
          expandIconClass: "esri-icon-basemap", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Mapa de fundo (Basemap)",
          expanded: false
        });
        // close the expand whenever a basemap is selected
        basemapGallery.watch("activeBasemap", function() {
          basemapGalleryExpand.collapse();
        });
        
        // create a layerlist and expand widget and add to the view
        const layerList = new LayerList({
          view: view,
          container: document.createElement("div")
        });
        const layerListExpand = new Expand({
          view: view,
          content: layerList,
          expandIconClass: "esri-icon-collection", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Camadas / Mosaicos",
          expanded: false
        });
        
        // Add Measurements widget
        const measurementExpand = new Expand({
          content: document.getElementById("measurementDiv"),
          view: view,
          expandIconClass: "esri-icon-measure", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Summary stats",
          expanded: false
        });
        
        // measurement active settings
        var activeWidget = null;
        document.getElementById("distanceButton").addEventListener("click", function() {
          setActiveWidget(null);
          if (!this.classList.contains("active")) {
            setActiveWidget("distance");
          } else {
            setActiveButton(null);
          }
        });
        document.getElementById("areaButton").addEventListener("click", function() {
          setActiveWidget(null);
          if (!this.classList.contains("active")) {
            setActiveWidget("area");
          } else {
            setActiveButton(null);
          }
        });
        function setActiveWidget(type) {
          switch (type) {
            case "distance":
              activeWidget = new DirectLineMeasurement3D({
                view: view
              });

              // skip the initial 'new measurement' button
              activeWidget.viewModel.newMeasurement();

              view.ui.add(activeWidget, "top-right");
              setActiveButton(document.getElementById("distanceButton"));
              break;
            case "area":
              activeWidget = new AreaMeasurement3D({
                view: view
              });

              // skip the initial 'new measurement' button
              activeWidget.viewModel.newMeasurement();

              view.ui.add(activeWidget, "top-right");
              setActiveButton(document.getElementById("areaButton"));
              break;
            case null:
              if (activeWidget) {
                view.ui.remove(activeWidget);
                activeWidget.destroy();
                activeWidget = null;
              }
              break;
          }
        }
        function setActiveButton(selectedButton) {
          // focus the view to activate keyboard shortcuts for sketching
          view.focus();
          var elements = document.getElementsByClassName("active");
          for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove("active");
          }
          if (selectedButton) {
            selectedButton.classList.add("active");
          }
        }
        
        // create a search and expand widget
        const searchExpand = new Expand({
          content: new Search({
            view: view
          }),
          view: view,
          expandIconClass: "esri-icon-search", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Localizar",
          expanded: false
        });
        
        // create a legend and expand widget
        const legendExpand = new Expand({
          content: new Legend({
            view: view,
            style: "card" // other styles include 'classic'
          }),
          view: view,
          expandIconClass: "esri-icon-legend", // https://developers.arcgis.com/javascript/latest/esri-icon-font/
          expandTooltip: "Legenda",
          expanded: false
        });
        
        // Add the home instance to the ui
        view.ui.add(home, "top-right");
        // Add the layerListExpand expand instance to the ui
        view.ui.add(layerListExpand, "top-right");
        // Add the basemapGalleryExpand expand instance to the ui
        view.ui.add(basemapGalleryExpand, "top-right");
        // Add the measurementExpand expand instance to the ui
        view.ui.add(measurementExpand, "top-right");
        // Add the legendExpand instance to the ui
        view.ui.add(legendExpand, "bottom-left");
        // Add the search instance to the ui
        view.ui.add(searchExpand, "top-right");
        // Add the Header instance to the ui
        view.ui.add("headerDiv", "top-left");
        
      });
    </script>
  </head>
  <body>
    <div id="viewDiv"></div>
    <div id="measurementDiv" class="esri-widget">
      <button class="action-button esri-icon-measure-line" id="distanceButton" type="button" title="Measure distance between two points"></button>
      <button class="action-button esri-icon-measure-area" id="areaButton" type="button" title="Measure area"></button>
    </div>
    <div id="headerDiv"><img src="static/images/logo_subsecretaria_executiva.png" alt="Subsecretaria Executiva - Prefeitura Rio" style="height:64px;"><div class="headerTextDiv">
    <h1 style="font-family: Arial; font-size: xx-large;padding: 0px;
        margin-bottom: 0px;margin-top: 0px;">Gestão Fiscal</h1>
    <p style="font-family: Arial; font-size: xx-small;padding: 0px;
        margin-bottom: 0px;margin-top: 0px;">versão 2021.3 (20/05/2021)</p>
  </div></div>
  </body>
</html>
